{% extends "index.html" %}
{% block body %}
<div class="container">
  <div class="row justify-content-start py-5">
    <div class="col">
      <h3>Wondering how to capitalize your skills, creativity or talent?</h3>
    </div>
  </div>
  <div class="row justify-content-center py-5">
    <div class="col-4">
      <img src="..." class="rounded-circle" alt="...">
      <h3>Win lots of cash prizes by engaging in contests</h3>
    </div>
    <div class="col-4">
      <img src="..." class="rounded-circle" alt="...">
      <h3>Catch employer's attention by showcasing your cababilities</h3>
    </div>
  </div>
  <div class="row justify-content-end py-5">
    <div class="col-4 boader rounded-circle">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-around py-5">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-between py-5">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
  <div class="row justify-content-evenly py-5">
    <div class="col-4">
      One of two columns
    </div>
    <div class="col-4">
      One of two columns
    </div>
  </div>
</div>
{% endblock %}
